.navbar {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid var(--line-color);
  padding: 0px 100px;
  justify-content: space-between;
  background-color: #fffc;
  backdrop-filter: saturate(180%) blur(5px);
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-font-color);
  height: 75px;
}

.navbar h1 {
  font-weight: bold;
  font-size: 1.3rem;
}

.menu {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
  height: 1.5px;
  transition: 0.3s ease;
  background-color: var(--main-font-color);
}
