.form {
  padding: 50px var(--layout-offset);
  --post-color: #f8fafc;
  background-color: var(--post-color);
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
  min-height: calc(100vh - 75.8px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  border: 1px solid var(--line-color);
  background-color: #fff;
  min-height: calc(100%);
}

.title {
  border-radius: 15px;
  font-size: 2rem;
  color: var(--main-font-color);
  border: none;
  width: 100%;
  padding: 20px;
  outline: none;
}

.category {
  background-color: #fff;
  border: 1px solid var(--line-color);
  border-radius: 15px;
}
