.gitBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 50px;
  margin: 12px 0px;
  width: 500px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50px;
}

.gitBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 130px;
  height: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 50px;
  color: #fff;
  background-color: var(--main-font-color);
  transition: 0.3s ease;
}

.gitBtn a:hover {
  transform: scale(1.03);
}

.gitBtn p {
  font-size: 18px;
}
