.container {
  width: 100vw;
  --offset: var(--layout-offset);
  padding: 0 var(--offset) var(--offset) var(--offset);
}

.homeBox {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.homeBox header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homeBox h1 {
  font-family: "GmarketSansMedium";
  font-size: 60px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.illust {
  height: 400px;
}
